<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meiji.elegantcommuncity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application

        android:name="com.meiji.elegantcommuncity.InitApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.meiji.elegantcommuncity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.meiji.elegantcommuncity.MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/main_name"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.news.content.NewsContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_news_content"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.news.comment.NewsCommentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_comment"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.joke.comment.JokeCommentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_joke_comment"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.setting.SettingActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme.NoActionBar.Slidable">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.meiji.elegantcommuncity.module.photo.content.PhotoContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_photo_content"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.news.channel.NewsChannelActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_item_drag"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.video.content.VideoContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_video_content"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.wenda.content.WendaContentActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.wenda.detail.WendaDetailActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/title_wenda_detail"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.search.SearchActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity
            android:name="com.meiji.elegantcommuncity.module.media.home.MediaHomeActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar.Slidable"/>

        <activity android:name="com.meiji.elegantcommuncity.FirstComingActvity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

<!--zzc-->
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".activity.UserDetailsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".activity.FindPasswordActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".activity.SignupActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".activity.IdentifyIDActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".activity.CertificateActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />Z

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.littletortoisetortoise.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>